* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
    border-bottom: 2px solid orange;
}

.logo {
    font-size: 4rem;
    padding-left: 5rem;
}

.main-container {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




